{{liquid-destination name="some-destination"}}

<button {{action "showWormhole"}}>
  Show Wormhole
</button>

{{#if showWormhole}}
  {{#liquid-wormhole to="some-destination" class="blue-box"}}
    Testing
  {{/liquid-wormhole}}
{{/if}}
